/* Header */
header {
  height: 100vh;
}
/**********************************************/

/* Introduce */
.introduce {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.introduce > * {
  flex: 1 1 50%;
}

.introduce .text-wrapper {
  max-width: 25rem;
  border-left: 5px solid var(--general-design-color);
  color: var(--navbar-title-text);
}

.introduce .title {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  text-align: center;
}

.introduce span {
  color: #0966b1;
}

.introduce .about-me {
  text-align: center;
}

.introduce .my-image {
  max-width: 350px;
  border-radius: 34% 66% 69% 31% / 30% 30% 70% 70%;
  background-color: white;
  box-shadow: 1px 1px 10px var(--general-text);
}
/**********************************************/

/* Icons */
.introduce .tech-lang-wrapper {
  margin-top: 10rem;
  color: var(--general-text);
}

.introduce .icons-title {
  text-align: center;
  font-size: .8rem;
  color: var(--navbar-title-text);
  margin-bottom: 1rem;
}

.introduce .icons {
  text-align: center;
}

.introduce .icons .icon {
  margin-right: 4.5rem;
  vertical-align: middle;
}

.introduce .icons a > * {
  animation: rotateIn 1s;
  cursor: pointer;
}
/**********************************************/

/* Animation for icons */
.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
/**********************************************/