/* Introduce */
.introduce {
  display: grid;
    display: -ms-grid;
  grid-template-areas: "a b"
                       "c c";
  place-items: center;

  padding-top: 5rem;
}

.introduce .text-wrapper {
  max-width: 25rem;
  border-left: 5px solid var(--general-design-color);
  color: var(--navbar-title-text);

  grid-area: a;
}

.introduce .title {
  margin-bottom: 1rem;
  font-size: clamp(.9rem, 5vw, 1.3rem);
  text-align: center;
}

.introduce span {
  color: #0966b1;
}

.introduce .about-me {
  text-align: center;
}

.introduce .my-image {
  max-width: clamp(10rem, 30vw, 20rem);
  border-radius: 34% 66% 69% 31% / 30% 30% 70% 70%;
  background-color: white;
  box-shadow: 1px 1px 10px var(--general-text);

  grid-area: b;
}
/**********************************************/

/* Icons */
.introduce .tech-lang-wrapper {
  margin-top: 10rem;
  color: var(--general-text);
  text-align: center;

  grid-area: c;
}

.introduce .tech-lang-wrapper .icons {
  display: flex;
    display: -ms-flex;
  justify-content: center;
  align-items: center;
    -webkit-align-items: center;
  flex-wrap: wrap;
    -webkit-flex-wrap: wrap;

  gap: 4.5rem;
}

.introduce .icons-title {
  text-align: center;
  font-size: .8rem;
  color: var(--navbar-title-text);
}

.introduce .icons .icon {
  vertical-align: middle;
}

.introduce .icons a > * {
  animation: rotateIn 1s;
  cursor: pointer;
}
/**********************************************/

/* Animation for icons */
.rotateIn {
  animation-name: rotateIn;
    -webkit-animation-name: rotateIn;
  animation-duration: 1s;
    -webkit-animation-duration: 1s;
  animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes rotateIn {
  0% {
    transform-origin: center;
      -webkit-transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
      -webkit-transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    transform-origin: center;
      -webkit-transform-origin: center;
    transform: none;
      -webkit-transform: none;
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    transform-origin: center;
      -webkit-transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
      -webkit-transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    transform-origin: center;
      -webkit-transform-origin: center;
    transform: none;
      -webkit-transform: none;
    opacity: 1;
  }
}
/**********************************************/

/* Media Query */
@media (max-width: 765px) {
  .introduce {
    grid-template-areas: "a"
                         "b"
                         "c";
    gap: 3.5rem;
    place-items: center;
  }

  .introduce .tech-lang-wrapper {
    margin-top: 2rem;
  }

  .introduce .tech-lang-wrapper .icons {
    gap: 2rem;
  }
}