/* Web projects wrapper */
.web-projects-wrapper {
  max-width: 45rem;
  margin: 0 auto;
}

/* title */
.my-projects .title {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 1.3rem;
  color: var(--general-text);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.my-projects .title-icon {
  font-size: 2.2rem;
}
/**********************************************/

/* cards */
.my-projects .vympy-art-card,
.my-projects .pod-tlakem-card,
.my-projects .dice-game-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;

  padding: 2rem;
  margin-bottom: 10rem;

  border-radius: 15px;
  box-shadow: 1px 1px 15px var(--general-text);
}

.my-projects .vympy-art-img,
.my-projects .pod-tlakem-img,
.my-projects .dice-game-img {
  max-width: 13rem;
  vertical-align: middle;
  border-radius: 15px;
}

.links-demo-code {
  text-align: center;
  padding-top: 1rem;
}

.links-demo-code a {
  color: #0966b1;
}
.my-projects .links-demo-code .icon {
  font-size: 1.5rem;
  color: var(--general-text);
  margin-right: .5rem;
  vertical-align: middle;
}

.my-projects .links-demo-code a:not(:last-child) {
  margin-right: .5rem;
}

/* description */
.my-projects .description {
  font-size: .8rem;
  color: var(--general-text);
}

.my-projects .description h3 {
  font-size: 1.2rem;
}

.my-projects .description > * {
  margin-bottom: 1rem;
}

.my-projects .description span {
  color: #0966b1;
}
/**********************************************/