:root {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  text-decoration: none;
  transition: 750ms linear;
}

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

  background-color: var(--light-theme-bg);
}

/* .color1 {color: #140f0b;}
.color2 {color: #0e2e56;}
.color3 {color: #0966b1;}
.color4 {color: #08a8ff;}
.color5 {color: #08f6ff;} */

[data-theme="dark"] {
  --general-text: rgba(235, 235, 235);
  --light-theme-bg: rgba(0, 0, 0, 0.9);
  --navbar-title-text: rgba(235, 235, 235);
  --general-design-color: #08a8ff;
  --navbar-bg: black;
}

[data-theme="light"] {
  --general-design-color: #08a8ff;
  --general-text: rgba(0, 0, 0, 0.9);
  --light-theme-bg: rgba(235, 235, 235);
  --navbar-title-text: black;
  --navbar-bg: white;
}

h1, h2, h3 {
  font-family: 'Merriweather', serif;
}

.text {
  color: var(--general-text);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}